In [ ]:
a=int(input("Enter a number: "))
print(a%10)

Enter a number: 987
7

In [ ]:
#2.Odd or even
a=int(input("Enter a number: "))
if(a%10)%2==0:
  print("Even")
else:
  print("Odd")

Enter a number: 5
Odd

In [ ]:
#3. Eligible to vote or not
age=int(input("Enter your age: "))
if age>=18:
  print("Eligible to vote")
else:
  print("Not elegible to vote")

Enter your age: 21
Eligible to vote

In [ ]:
#4. Grade according to percentage of marks
per=int(input("Enter percentage of marks: "))
if per > 80:
  print("A Grade")
elif per>60:
  print("B Grade")
elif per > 40:
  print("C Grade")
else:
  print("Fail")

Enter percentage of marks: 66
B Grade

In [ ]:
#5. day in a week
num=int(input("Enter number: "))
list=["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]
if 1<=num<=7:
  print("The day is:",list[num-1])
else:
  print("Invalid number")

Enter number: 6
The day is: Saturday

In [ ]:
#6. 3 digit or not
num=int(input("Enter a number: "))
if 100<=abs(num)<=999:
  print("It is a 3 digit number")
else:
  print("Not a 3 digit number")

Enter a number: 57
Not a 3 digit number

In [ ]:
#7. Positive or not
num=float(input("Enter a number: "))
if num>0:
  print("Num is positive")
else:
  print("Num is negative")

Enter a number: -8
Num is negative

In [ ]:
#8. Divisible by 8 and 9
num=int(input("Enter a number: "))
if (num%8==0) and (num%9==0):
  print("Num is divisible by both 8 and 9")
else:
    print("Num is not divisible by both 8 and 9")

Enter a number: 76
Num is not divisible by both 8 and 9

In [ ]:
#9 Largest of 3 numbers
a=int(input("Enter a number: "))
b=int(input("Enter a number: "))
c=int(input("Enter a number: "))
if (a>b) and (a>c):
  print("The largest number is",a)
elif (b>c) and (b>a):
  print("The largest number is",b)
else:
  print("The largest number is",c)

Enter a number: 60
Enter a number: 40
Enter a number: 0
The largest number is 60

In [ ]:
#10. Vowel or not
char=input("Enter character: ")
if char=='A' or char=='E' or char=='I' or char=='O' or char=='U' or char=='a' or char=='e' or char=='i' or char=='o' or char=='u':
  print("It is a vowel")
else:
  print("It is not a vowel")

Enter character: a
It is a vowel

In [ ]:
#11. Pattern using a loop
rows=5
for i in range(1,rows+1):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
#12. Sum of all numbers
n=int(input("Enter a number: "))
total=n*(n+1)//2
print("The sum from 1 to",n,"is:",total)

Enter a number: 11
The sum from 1 to 11 is: 66

In [ ]:
#13. list with conditions
list=[12,75,150,180,145,525,50]
for num in list:
  if num>500:
    break
  if num>150:
    continue
  if num%5==0:
    print(num)

75
150
145

In [ ]:
#14. No of digits
num=int(input("Enter a number: "))
count=0
if num==0:
  count=1
else:
  while num!=0:
    num=num//10
    count+=1
print("Total number of digits:",count)

Enter a number: 675
Total number of digits: 3

In [ ]:
#15. Reverse order(list)
num=[10,20,30,40,50]
for i in range(len(num)-1,-1,-1):
  print(num[i])

50
40
30
20
10

In [ ]:
#16. numbers from -10 to -1
for i in range(-10,0):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [ ]:
#17. Prime numbers between 1 to 100:
print("Prime numbers between 1 to 100 are: ")
for num in range(2,101):
  is_prime=True
  for i in range(2,int(num**0.5)+1):
    if num%i==0:
      is_prime=False
      break
  if is_prime:
    print(num,end=" ")

Prime numbers between 1 to 100 are:
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
#18. Fibonacci series upto 10 terms:
n_terms=10
a,b=0,1
print("Fibonacci series upto",n_terms,"terms is: ")
for _ in range(n_terms):
  print(a,end=" ")
  a,b=b,a+b

Fibonacci series upto 10 terms is:
0 1 1 2 3 5 8 13 21 34

In [ ]:
#19. Factorial:
num=int(input("Enter a number: "))
factorial=1
for i in range(1,num+1):
  factorial*=i
print(f"The Factorial of {num} is {factorial}")

Enter a number: 5
The Factorial of 5 is 120

In [ ]:
#20. Reverse number:
num=int(input("Enter a number: "))
rev_num=0
while num!=0:
  digit=num%10
  rev_num=rev_num*10+digit
  num=num//10
print("Reversed number: ",rev_num)

Enter a number: 345
Reversed number:  543